<html>
<head>
	<style type="text/css">
	    h1 {
	        text-align: center;
	    }

		#main {
		  background-image: url('/static/basketball.jpg');
		  opacity:0.9;
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		}    
	</style>
</head>

<body id="main">
	<h2 style="color: white">Some players' locations were not assigned, please try again.</h2>
	<p align="center">
		<a href={{url_for("main")}}>
			<button style="height:75px;width:150px">Return</button>
		</a>
	</p>
</body>